* {
  box-sizing: border-box;
}

main {
  width: 100%;
  text-align: center;
}

#conciertos {
  display: flex;
  align-items: center;
  justify-content: center;
}

#conciertos img {
  width: 300px;
  height: 300px;
  margin: 10px;
}

#conciertos img:hover {
  opacity: 50%;
  cursor: pointer;
}
